
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fbf4e1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#check {
  padding-top: 100px;
}

.rules_table {
  background-color: #646c6f;
  color: #fbf4e1;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  padding: 20px;
}

.rules-row p {
  text-align: center;
 }

.contact_table {
  background-color: #646c6f;
  color: #fbf4e1;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  padding: 20px;
}

.contact_block p {
  text-align: center;
}


.purpose {
  background-color: #646c6f;
  color: #fbf4e1;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  padding: 20px;
}

.purpose p {
  text-align: left;
}

.admin_action_table {
  margin-left: 100px;
margin-right: 100px;
padding: 5px;
}

.admin_table_heading {
  background-color: #646c6f;
  color: #fbf4e1;
  margin-left: 100px;
  margin-right: 100px;
  padding: 5px;
}

.admin_action_title {
  color: #646c6f;
}

.admin_events-body{
  background-color: #fbf4e1;
}

.admin_questions_title, .admin_intro_title {
  margin-left: 50px;
  margin-right: 50px;
}

.admin_questions_hints {
  margin-left: 50px;
  margin-right: 50px;
  color: #646c6f;
}

.card-body {
  background-color: #fbf4e1;
}

.PDM_title, .SDM_title, .TDM_title {
  color: #fbf4e1;
  background-color: #646c6f;
  padding-top: 5px;
  padding-bottom: 5px;
}

.form-check_funding{
  display: inline-block;
}

.link_button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  border-radius: 4px;
  width: 25% !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  text-decoration: none !important;
  background-color: #646c6f;
  color: white !important;
}


.intab_link_button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  border-radius: 4px;
  width: 100px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  text-decoration: none !important;
  background-color: #646c6f;
  color: white !important;
}

.admin_list_events {
  margin-left: 100px;
  margin-right: 100px;
  padding: 5px;
}
