
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #ffefe0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#check {
  padding-top: 100px;
}

.rules_table {
  background-color: #646c6f;
  color: #ffefe0;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  padding: 20px;
}

.rules-row p {
  text-align: center;
 }

.contact_table {
  background-color: #646c6f;
  color: #ffefe0;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  padding: 20px;
}

.contact_block p {
  text-align: center;
}


.purpose {
  background-color: #646c6f;
  color: #ffefe0;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  padding: 20px;
}

.purpose p {
  text-align: left;
}

.admin_action_table {
  margin-left: 100px;
  margin-right: 100px;
  padding: 5px;
}

.admin_table_heading {
  background-color: #646c6f;
  color: #ffefe0;
  margin-left: 100px;
  margin-right: 100px;
  padding: 5px;
}

.admin_action_title {
  color: #646c6f;
}

.admin_events-body{
  background-color: #ffefe0;
}

.admin_questions_title, .admin_intro_title {
  margin-left: 50px;
  margin-right: 50px;
}

.admin_questions_hints {
  margin-left: 50px;
  margin-right: 50px;
  color: #646c6f;
}

.card-body {
  background-color: #ffefe0;
}

.PDM_title, .SDM_title, .TDM_title {
  color: #ffefe0;
  background-color: #646c6f;
  padding-top: 5px;
  padding-bottom: 5px;
}

.form-check_funding{
  display: inline-block;
}